.aboutBanner {
    margin: auto;
    text-align: center;
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    height: 300px;
    padding: 50px;
}

.banner__title {
    margin-top: 100px;
    font-weight: 900;
    font-size: 50px;
}

.banner__body {
    margin-top: 35px;
}