.header {
    display: flex;
    padding: 20px;
    box-shadow: 0 2px 5px -2px rgba(0,0,0,.2);
}

.header__title {
    font-weight: 900;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
}

.header__left {
    display: flex;
    margin-left: 30px;
}

.header__option {
    margin-top: 10px;
    margin-left: 40px;
}

.header__option > a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}